<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

		{% include meta.html %}

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	</head>

	<body>
		<div id="main" role="main">
			<table width="100%" height="100%">
				<td style="padding-left: 16px; padding-right: 16px;" height="100%">
					<div class="site-info">
						<h1 class="site-name">{{ site.name }}</h1>
					</div>
					<br><br>
					{{ content }}
				</td>
				<td width="180px" class="sidebar" valign="top">
					<!-- Sidebar -->
					<h2>Сборник ссылок:</h2><a href="http://avinesia.ru/">Сайт Авинесии</a>
					<br><a href="http://avinesia.ru/vpizde">Где взять сервер/клиент не через лаунчер?</a>
					<br><a href="https://discord.gg/invite/HEWC3nBSGP">MurbyteModern в Дискорде</a>
					<br>
					<br><a href="https://discord.com/channels/890987838986936331/911289420882264074">Bug tracker</a>
					<br><a href="mailto:murbyteminecraft@gmail.com">Support</a>
					<br>
					<!-- End Sidebar -->
				</td>
			</table>
		</div>

		<div class="wrapper-footer">
			<div class="container">
				<footer class="footer">
				</footer>
			</div>
		</div>
	</body>
</html>
